<!DOCTYPE html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Atlanta Gardens, Farms, Orchards</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>

<html>
  <body>
    <form class="ownerProperties">
      <div class="center-h-container">
        <h1 class="font-weight-normal"> Welcome, {{username}}</h1>
      </div>

      <h1 class="h3 mb-3 font-weight-normal">Your Properties: </h1>

      <!-- INSERT TABLE -->


      <table  id="infoTable" class="table table-bordered table-hover">
          <thead class="thead-light">
              <tr class="text-center">
                <th scope="col">Name <button id="sortName" class=" sort-btn btn dropdown-toggle float-right" type="button" ></button></th>
                <th scope="col">Address</th>
                <th scope="col">City<button id="sortCity" class="sort-btn btn dropdown-toggle float-right" type="button" ></button></th>
                <th scope="col">Zip</th>
                <th scope="col">Size</th>
                <th scope="col">Type<button id="sortType" class="sort-btn btn dropdown-toggle float-right" type="button" ></button></th>
                <th scope="col">Public</th>
                <th scope="col">Commercial</th>
                <th scope="col">ID</th>
                <th scope="col">isValid</th>
                <th scope="col">Visits<button id="sortVisits" class="sort-btn btn dropdown-toggle float-right" type="button" ></button></th>
                <th scope="col">Avg. Rating<button id="sortRating" class="sort-btn btn dropdown-toggle float-right" type="button" ></button></th>
              </tr>
          </thead>

          {{#each personalProperty}}
            <tr>
            <td scope="col"> {{this.Name}} </td>
            <td scope="col"> {{this.Street}} </td>
            <td scope="col"> {{this.City}} </td>
            <td scope="col"> {{this.Zip}} </td>
            <td scope="col"> {{this.Size}} </td>
            <td scope="col"> {{this.PropertyType}} </td>
            <td scope="col"> {{this.IsPublic}} </td>
            <td scope="col"> {{this.IsCommercial}} </td>
            <td scope="col"> {{this.ID}} </td>
            <td scope="col"> PENDING </td>
            <td scope="col"> PENDING </td>
            <td scope="col"> PENDING </td>
            </tr>
          {{/each}}
      </table>

      <div>



      <table class="selection-table">
        <tr>
          <th>
            <div class="center-h-container">
              <div class="not-btn-input">
                <select class="form-control "  id="searchBy">
                  <option>Search by...</option>
                  <option selected disabled hidden>Name</option>
                  <option>City</option>
                  <option>Type</option>
                  <option>Visits</option>
                  <option>Avg. Rating</option>
                </select>
              </div>
            </div>
          </th>
          <th>
            <a type="button" class="btn " href="/manageProperty">Manage Property</a>
          </th>
        </tr>
        <tr>
          <th>
            <div class="center-h-container">
              <label for="searchTerm" class="sr-only">Search Term</label>
              <input id="searchTerm" class="form-control not-btn-input" placeholder="Search Term" required autofocus>
            </div>
          </th>
          <th>
            <a type="button" class="btn " href="/addProperty">Add Property</a>
          </th>
        </tr>
        <tr>
          <th>
            <button type="button" class="btn ">Search Properties</button>
          </th>
          <th>
            <a type="button" class="btn" href = "/otherProperties">View Other Properties</a>
          </th>
          <th>
            <a type="button" class="btn" href = "/">Log Out</a>
          </th>
        </tr>

      </table>
    </form>
  </body>



  <style>
    .sort-btn {
      color: black !important;
      width: 30px !important;
    }
    #dropdownMenuButton {
        margin-top: -25px;
    }

    th>.dropdown-toggle {
        background-color: transparent;
    }

    th>.dropdown-toggle:focus,
    th>.dropdown-toggle:active {
        outline: none !important;
        box-shadow: none;
    }
    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .ownerProperties{
      width: 100%;
      padding: 50px;
      margin: 0 auto;
    }
    .not-btn-input{
      width: 300px;
    }

    .btn {
      width: 300px;
      background-color: #007bff;
      color: #ffffff;
    }
    th {
      text-align: center;
    }
    .selection-table {
      width: 100%;
    }
    .left-label {
      text-align: left;
      padding-left: 30px;
      margin-top: 30px;
    }
    .center-h-container{
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
    }

    .table tbody tr.highlight td {
      background-color: #ddd;
    }


  </style>

</html>

<script>
  $('#infoTable').on('click', 'tbody tr', function(event) {
    $(this).addClass('highlight').siblings().removeClass('highlight');
  });

  $('.dropdown-item').click(function() {
      $('#dropdownMenuButton').text('Search by: ' + $(this).text());
  });

  $('th>.dropdown-toggle').on('click', onClick);


      function onClick(e) {
          var th = $(e.target).parent();
          var col = th.text();
          var table = $(th).parents('table').eq(0);
          var rows = table.find('tr:gt(0)').toArray().sort(compare($(th).index()));
          this.asc = !this.asc;
          if (!this.asc) {
              rows = rows.reverse();
          }
          for (var i = 0; i < rows.length; i++) {
              table.append(rows[i]);
          }
      }

      function compare(index) {
          return function(a, b) {
              var valA = getCellValue(a, index);
              var valB = getCellValue(b, index);
              return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
          }
      }

      function getCellValue(row, index){
          return $(row).children('td').eq(index).text();
      }

  (function () {
        if (window.addEventListener) {
            window.addEventListener('load', run, false);
        } else if (window.attachEvent) {
            window.attachEvent('onload', run);
        }

        function run() {
    		var t = document.getElementById('infoTable');
        var rows = t.rows;
    		for (var i=0; i<rows.length; i++) {
    			rows[i].onclick = function (event) {
    				//event = event || window.event; // for IE8 backward compatibility
    				//console.log(event, this, this.outerHTML);
    				if (this.parentNode.nodeName == 'THEAD') {
    					return;
    				}
    				var cells = this.cells; //cells collection
    				var id = cells[8].innerHTML;
            $('#idSelector').val(id);
            console.log(id);

    			};
    		}
        }

    })();
</script>
