<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>
<style media="screen">
    html,
    body {
        height: 100%;
    }

    .table tbody tr.highlight td {
        background-color: #ddd;
    }

    body {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-unconfirmed {
        width: 100%;
        padding: 50px;
        margin: 0 auto;
    }

    .form-unconfirmed .checkbox {
        font-weight: 400;
    }

    .form-unconfirmed .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .colrev {
        display: flex;
        flex-direction: column-reverse;
    }
</style>

<body>
    <div class="form-unconfirmed">
        <h1 class="h3 mb-3 font-weight-normal">Confirmed Properties:</h1>
        <table id="table" class="table table-bordered table-hover container-margin">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Name
                        <button class="btn dropdown-toggle float-right" type="button"></button>
                    </th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip
                        <button class="btn dropdown-toggle float-right" type="button"></button>
                    </th>
                    <th scope="col">Size</th>
                    <th scope="col">Type
                        <button class="btn dropdown-toggle float-right" type="button"></button>
                    </th>
                    <th scope="col">Public</th>
                    <th scope="col">Commercial</th>
                    <th scope="col">ID</th>
                    <th scope="col">VerifiedBy
                        <button class="btn dropdown-toggle float-right" type="button"></button>
                    </th>
                    <th scope="col">AVG. Rating
                        <button class="btn dropdown-toggle float-right" type="button"></button>
                    </th>
                </tr>
            </thead>
            <tbody id="rows">

                {{#each rows}}
                    <tr class='clickable-row'>
                        <td scope="row">{{this.Name}}</td>
                        <td>{{this.Street}}</td>
                        <td>{{this.City}}</td>
                        <td>{{this.Zip}}</td>
                        <td>{{this.Size}}</td>
                        <td>{{this.Type}}</td>
                        <td>{{this.Public}}</td>
                        <td>{{this.Commercial}}</td>
                        <td>{{this.ID}}</td>
                        <td>{{this.VerifiedBy}}</td>
                        <td>{{{Rating}}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="btn-container">
            <div class="colrev">
                <form method="POST" action="/viewConfirmedProperties">
                    <button type="submit" class="btn" id="search" style="height: 50px; margin-bottom: 50px; margin-top: 7px;">Search Properties</button>
                    <input type="text" id="searchText" name="search" placeholder="Search Term" style="width: 150px; height: 35px; text-align: center;">
                    <div class="form-control-plaintext">
                        <select class="form-control " id="searchBy" name="column" style="height: 45px;">
                                <option selected disabled hidden>Search by...</option>
                                <option>Name</option>
                                <option>Address</option>
                                <option>City</option>
                                <option>Zip</option>
                                <option>Size</option>
                                <option>Type</option>
                                <option>Public</option>
                                <option>Commercial</option>
                                <option>ID</option>
                                <option>Verified by</option>
                                <option>Rating</option>
                            </select>
                    </div>
                </form>
            </div>
            <div class="colrev">
                <form method="POST" action="/manageSelectedProperty">
                    <button type="submit" class="btn" id="search" style="height: 50px; margin-bottom: 50px; margin-top: 5px;">Manage Selected Property</button>
                    <input type="hidden" id="id" name="id" class="hiddenField" placeholder="Username">
                </form>

            </div>
            <div class="colrev">
                <form method="GET" action="/adminLandingPage">
                    <button type="submit" class="btn" id="search" style="width: 150px; height: 50px; margin-bottom: 50px; margin-top: 5px;">Back</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    $('#searchBy').change(function() {
        var searchBy = $(this).val();
        console.log(searchBy);
    });
    $("tbody tr").click(function() {
        $(this).addClass('highlight').siblings().removeClass('highlight');
        var cells = this.cells;
        var id = cells[8].innerHTML;
        $('#id').val(id);
        console.log(id);
    });

    // (function() {
    //     if (window.addEventListener) {
    //         window.addEventListener('load', run, false);
    //     } else if (window.attachEvent) {
    //         window.attachEvent('onload', run);
    //     }
    //
    //     function run() {
    //         console.log("aaa");
    //         var t = document.getElementById('table');
    //         var rows = t.rows;
    //         for (var i = 0; i < rows.length; i++) {
    //             rows[i].onclick = function(event) {
    //                 //event = event || window.event; // for IE8 backward compatibility
    //                 //console.log(event, this, this.outerHTML);
    //                 if (this.parentNode.nodeName == 'THEAD') {
    //                     return;
    //                 }
    //                 var cells = this.cells; //cells collection
    //                 var id = cells[0].innerHTML;
    //                 $('#usernameval').val(id + "");
    //                 console.log(id);
    //             };
    //         }
    //     }
    //
    // })();
    $('th>.dropdown-toggle').on('click', onClick);

    function onClick(e) {
        var th = $(e.target).parent();
        var col = th.text();
        var table = $(th).parents('table').eq(0);
        var rows = table.find('tr:gt(0)').toArray().sort(compare($(th).index()));
        this.asc = !this.asc;
        if (!this.asc) {
            rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
        }
    }

    function compare(index) {
        return function(a, b) {
            var valA = getCellValue(a, index);
            var valB = getCellValue(b, index);
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
        }
    }

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
    }
</script>
